
body{
	text-align: center;
	padding: 0 0 0 0;
	margin: auto;
	width: 400px;
}

h1 {
	padding-top: 10px;
}

form#add-bang{
	width: min-content;
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

div#search-bang{
	width: min-content;
	display: none;
	margin: auto;
	padding: 8px;
}

div#list-bang{
	width: max-content;
	justify-content: center;
	display: none;
	margin: auto;
}

div#options-menu{
	width: max-content;
	margin: auto;
	margin-bottom: 20px;
}

.add-bang-input {
	width: 40ch;
}

.menu-button button{
	width: 100%;
}
